<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1067466232614-q6skkn3jej56pt9necpgl2qpeg7u4vca.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1067466232614-q6skkn3jej56pt9necpgl2qpeg7u4vca</string>
	<key>API_KEY</key>
	<string>AIzaSyDAe8H1iB6-YwPOhlzSy5Xt_TTKV1kKju4</string>
	<key>GCM_SENDER_ID</key>
	<string>1067466232614</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>eric.Luxchat.lu</string>
	<key>PROJECT_ID</key>
	<string>luxchat-appstore</string>
	<key>STORAGE_BUCKET</key>
	<string>luxchat-appstore.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1067466232614:ios:2b272bfc86941cd7</string>
	<key>DATABASE_URL</key>
	<string>https://luxchat-appstore.firebaseio.com</string>
</dict>
</plist>